/* =========================================================
   ANIMATIONS & TRANSITIONS
   ========================================================= */

.spc-x {
    .reveal {
        opacity: 0;
        transform: translateY(24px);
        transition: opacity .9s ease, transform .9s ease;

        &.in {
            opacity: 1;
            transform: none;
        }
    }
}
